* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

h1 {
  color: black;
  text-align: center;
  padding: 1rem;
}

.stats {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
  justify-content: center; 
  align-items: center; 
  padding: 2rem; 
}

.card {
  
  padding: 20px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(165, 161, 161, 0.411);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease;
  cursor: pointer;
  text-align: center; 
}

.card:hover {
  transform: scale(1.05);
}

.user,
.driver,
.feedback,
.ride {
  color: black;
  font-size: 35px;
  padding: 10px;
  font-weight: 500;
}

p {
  color: black;
  font-size: 20px;
}




.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

/* Style for the table */
table {
  border-collapse: collapse;
  width: 100%; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for table headers (th) */
th {
  background-color: #6a70d1; 
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  border: 1px solid #6a70d1; 
}

/* Style for table cells (td) */
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

/* Style for delete buttons */
button{
  background-color: #e53935;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
button:hover{
  color: black;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .table-container {
    padding: 0; 
    overflow-x: auto; 
  }
  
  table {
    font-size: 12px; 
  }
  
  th, td {
    text-align: center;
  }
  
  th, td {
    padding: 8px;
  }
}



